body {
margin: 0px;
}

.main {
    background-image: url(./images/desktop/image-hero.jpg);
    height: 400px;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4% 10%;
    color: white;
    
} 
.main-image {
    max-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.main-one {
    display: flex;
    justify-content: space-between;
}
.ul {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    
    gap: 23px;
    list-style-type: none;
    /* border: 2px solid wheat; */
    
}
.main-two {
    /* border: 2px solid white;
     */
    margin-top: 8%;
    margin-bottom: 20%;
    
}
.main-one-sub {
   
   display: grid;
   grid-template-columns: 3fr 2fr ;
   grid-template-areas: 'header-one header-two';
   grid-template-rows: 3fr;
}
.header-one {
    border: 4px solid white;
    text-transform:uppercase;
    font-size: 53px;
    font-weight: lighter;
    grid-area: header-one;
    font-family:'Trebuchet MS', sans-serif;
    padding: 2% 1% 2% 8%;
    letter-spacing: 4px;
   
}
.header-two {
    /* border: 2px solid wheat; */
    grid-area: header-two;
}
.extra-pad {
    padding: 4% 10%;
}
.interactive {
    *position: relative;
    background-image: url(./images/desktop/image-interactive.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200%;
    height: 350px;
    /* border: 3px solid green; */
    clip-path: polygon(0 0, 100% 0, 100% 38%, 75% 38%, 75% 100%, 0 100%);
    overflow: hidden;
    
    padding-top: 10%;
   

}
.interactive-main {
    margin-top: 4%;
    display: flex;
    align-items: end;
    /* border: 3px solid black; */
}

.interactive-content {
    margin-left: -10%;
}
.interactive-head {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: lighter;
}
.creation-div {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    /* border: 2px solid black; */
    padding: 0% 10%;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: lighter;
}
.creation-btn {
    width: 120px;
    height: 35px;
    padding: 1px 10px;
    margin: auto 0px;
    border-top: 3px  solid grey;
    border-right: 3px  solid grey;
    border-bottom: 3px  solid grey;
    text-transform: uppercase;
  
}
.control-grid {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    color: white;
    padding-left: 15%;
    text-transform: uppercase;
}
.grid {

    /* border: 2px solid black; */
    /* background-color: red; */
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 'grid-one grid-two grid-three grid-four'
                        'grid-five grid-six grid-seven grid-eight';
    grid-template-rows: 450px 450px;
    gap: 20px;
    padding: 0 10% 7% 10%;
}

.position {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.grid-one {
    background-image: url(./images/desktop/image-deep-earth.jpg);
    grid-area: grid-one;
    
}
.grid-two {
    background-image: url(./images/desktop/image-night-arcade.jpg);
    grid-area: grid-two;
}
.grid-three {
    background-image: url(./images/desktop/image-soccer-team.jpg);
    grid-area: grid-three;
}
.grid-four {
    background-image: url(./images/desktop/image-grid.jpg);
    grid-area: grid-four;
}
.grid-five {
    background-image: url(./images/desktop/image-from-above.jpg);
    grid-area: grid-five;
}
.grid-six {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
    grid-area: grid-six;
}
.grid-seven {
    background-image: url(./images/desktop/image-curiosity.jpg);
    grid-area: grid-seven;
}
.grid-eight {
    background-image: url(./images/desktop/image-fisheye.jpg);
    grid-area: grid-eight;
}
.footers {
    
    color: white;
    background: black;
    padding: 2% 10%;
    border: 2px solid white;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    
}
.footer-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding-left: 0px;
    /* background: green; */
}
.footer-img {
    /* padding-left: 3%; */
}
